# The purpose of this notebook is to get the parquet data from s3 output bucket into tables

In [16]:
import configparser
from pyspark.sql import SparkSession

config = configparser.ConfigParser()
config.read('dl.cfg')

output_data = config['S3_BUCKET']['OUTPUT_DATA_S3A']

In [17]:
spark = SparkSession \
    .builder \
    .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:3.2.2")\
    .config('spark.hadoop.fs.s3a.aws.credentials.provider', 'com.amazonaws.auth.DefaultAWSCredentialsProviderChain') \
    .getOrCreate()

In [18]:
songs_df = spark.read.parquet(os.path.join(output_data,'songs/*/*/*.parquet'))

In [19]:
songs_df.show(10)

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOKTJDS12AF72A25E5|Drown In My Own T...|ARA23XO1187B9AF18F|   0|  192.522|
|SOEKAZG12AB018837E|I'll Slap Your Fa...|ARSVTNL1187B992A91|2001|129.85424|
|SOAFBCP12A8C13CC7D|King Of Scurf (20...|ARTC1LV1187B9A4858|1972|301.40036|
|SORRNOC12AB017F52B|The Last Beat Of ...|ARSZ7L31187FB4E610|2004|337.81506|
|SOQPWCR12A6D4FB2A3|A Poor Recipe For...|AR73AIO1187B9AD57B|2005|118.07302|
|SODZYPO12A8C13A91E|Burn My Body (Alb...|AR1C2IX1187B99BF74|   0|177.99791|
|SOBRKGM12A8C139EF6|Welcome to the Pl...|ARXQBR11187B98A2CC|1985|821.05424|
|SOERIDA12A6D4F8506|I Want You (Album...|ARBZIN01187FB362CC|2006|192.28689|
|SOAPERH12A58A787DC|The One And Only ...|ARZ5H0P1187B98A1DD|   0|230.42567|
|SOSMJFC12A8C13DE0C|Is That All There...|AR1KTV21187B9ACD72|   0|343.87546|
+------------------+--------------------+------------------+----+---------+
only showing top 10 rows

In [20]:
artists_df = spark.read.parquet(os.path.join(output_data,'artists/*.parquet'))

In [21]:
artists_df.show(10)

+------------------+--------------------+--------------------+--------+----------+
|         artist_id|                name|            location|latitude| longitude|
+------------------+--------------------+--------------------+--------+----------+
|ARTC1LV1187B9A4858|  The Bonzo Dog Band|Goldsmith's Colle...| 51.4536|  -0.01802|
|ARA23XO1187B9AF18F|     The Smithereens|Carteret, New Jersey|40.57885| -74.21956|
|AR73AIO1187B9AD57B|   Western Addiction|   San Francisco, CA|37.77916|-122.42005|
|AR10USD1187B99F3F1|Tweeterfriendly M...|Burlington, Ontar...|    null|      null|
|ARSVTNL1187B992A91|       Jonathan King|     London, England|51.50632|  -0.12714|
|AR5LMPY1187FB573FE|   Chaka Khan_ Rufus|         Chicago, IL|41.88415| -87.63241|
|ARZ5H0P1187B98A1DD|          Snoop Dogg|      Long Beach, CA|33.76672| -118.1924|
|ARY589G1187B9A9F4E|         Talkdemonic|        Portland, OR|45.51179|-122.67563|
|ARXQBR11187B98A2CC|Frankie Goes To H...|  Liverpool, England|    null|      null|
|ARMJAGH1187FB546F3|        The Box Tops|         Memphis, TN|35.14968| -90.04892|
+------------------+--------------------+--------------------+--------+----------+
only showing top 10 rows

In [22]:
users_df = spark.read.parquet(os.path.join(output_data,'users/*.parquet'))

In [23]:
users_df.show(10)

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|    100|     Adler|  Barrera|     M| free|
|     89|   Kynnedi|  Sanchez|     F| free|
|     85|   Kinsley|    Young|     F| paid|
|     85|   Kinsley|    Young|     F| free|
|     66|     Kevin| Arellano|     M| free|
|     27|    Carlos|   Carter|     M| free|
|     38|    Gianna|    Jones|     F| free|
|     64|    Hannah|  Calhoun|     F| free|
|     16|     Rylan|   George|     M| free|
|     37|    Jordan|    Hicks|     F| free|
+-------+----------+---------+------+-----+
only showing top 10 rows

In [24]:
time_df = spark.read.parquet(os.path.join(output_data,'time/*/*/*.parquet'))

In [25]:
time_df.show(10)

+--------------------+----+---+----+-----+----+-------+
|          start_time|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-05 17:02:...|  17|  5|  45|   11|2018|      2|
|2018-11-13 21:17:...|  21| 13|  46|   11|2018|      3|
|2018-11-13 18:05:...|  18| 13|  46|   11|2018|      3|
|2018-11-05 15:14:...|  15|  5|  45|   11|2018|      2|
|2018-11-05 18:41:...|  18|  5|  45|   11|2018|      2|
|2018-11-13 17:43:...|  17| 13|  46|   11|2018|      3|
|2018-11-13 06:24:...|   6| 13|  46|   11|2018|      3|
|2018-11-05 02:42:...|   2|  5|  45|   11|2018|      2|
|2018-11-05 16:00:...|  16|  5|  45|   11|2018|      2|
|2018-11-28 09:36:...|   9| 28|  48|   11|2018|      4|
+--------------------+----+---+----+-----+----+-------+
only showing top 10 rows

In [26]:
songplays_df = spark.read.parquet(os.path.join(output_data,'songplays/*/*/*.parquet'))

In [27]:
songplays_df.show(10)

+-----------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|songplay_id|          start_time|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|
+-----------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|          0|2018-11-15 16:19:...|     97| paid|SOBLFFE12AF72AA5BA|ARJNIUY12298900C91|       605|Lansing-East Lans...|"Mozilla/5.0 (X11...|
+-----------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+